* {

  list-style: none;
  color: var(--color-text);
}
:root {
  --productPriceColor: #0b0b0b; /* Dark gray */
  --productParagraphColor: #395f68; /* Gray */
  --productTitleColor: #010101; /* Navy blue */
  --head-color: #ffffff; /* Navy blue */
  --color-icon: #a86500; /* Black */
  --color-text: #7c4a00; /* Dark gray */
  --paragraphColor: #b15000; /* Dark gray */
  --background-color: #f4f1eb; /* Light gray */
  --nav-color: #222365; /* Navy blue */
  --hover-color: #ff7300; /* Light gray */
}

body {
  background-color: var(--background-color);
  position: relative;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}

.img-detials {
  direction: rtl;
  text-align: start;
}
.object {
  position: absolute;
  left: 43.8px;
  top: 88px;
  width: 240px;
  overflow: scroll;
  max-height: 170px;
  background-color: var(--nav-color);
}

.object::-webkit-scrollbar {
  display: none;
}
#ele-title,
.ele-paragraph,
.price {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 25px;
}

/* section */
section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section .change-pagees {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  height: 50px;
}

section .change-pagees a {
  text-decoration: none;
  margin: 10px;
  font-size: 24px;
}

section .product {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color);
}

section .product .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

section .product .img .image-container {
  border-radius: 20px;
  padding: 10px;
  background-color: wwwwhite;
  background-color: var(--head-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  max-width: 275px;
  height: fit-content;
  margin: 20px 10px 0px;
}

section .product .img .image-container img {
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}

section .product .img .share-every-where {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 30px;
  font-size: 24px;
}

section .product .img .share-every-where a i {
  color: var(--color-icon);
}

section .product .img .share-every-where a i:hover {
  color: var(--hover-color);
}
section .img-detials {
  font-size: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
section .img-detials .product-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  direction: rtl;
}
section .img-detials .ele-price-quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
section .ele-price-quantity .quantity .qtyminus,
section .ele-price-quantity .quantity .qtyplus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: var(--head-color);
  border-width: 1px;
}
select{
  border: none;
  background-color: var(--background-color);
}
.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.price-container p{
  margin: 20px 0;
}
section .img-detials .ele-price-quantity .accept {
  border-radius: 10px;
  font-size:30px;
  width: 80%;
  margin: auto;
  padding: 10px;
  height: fit-content;
  background-color: var(--head-color);
}
@media screen and (max-width: 480px) {
  section .product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  
  }
  .img {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  section .img-detials {
    width: 100%;
    margin: 20px 20px;
  }
  .product-paragraph {
    width: 100%;
  }
  .ele-paragraph {
    width: 90%;
    font-size: 20px;
    text-align: start;
  }
}


#ele-title,
.ele-paragraph,
form{
  margin:10px;
}
#myform {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
}
.qtyminus,
.qty,
.qtyplus {
  padding: 0;
  margin-left: 10px;
  min-width: 40px;
  max-width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
}
