* {
  font-family: "Katibeh", serif;
  list-style: none;
  color: rgb(0, 0, 0);
}
:root {
  --productPriceColor: #0b0b0b; /* Dark gray */
  --productParagraphColor: #395f68; /* Gray */
  --productTitleColor: #010101; /* Navy blue */
  --head-color: #ffffff; /* Navy blue */
  --color-icon: #a86500; /* Black */
  --color-text: #7c4a00; /* Dark gray */
  --paragraphColor: #b15000; /* Dark gray */
  --background-color: #f4f1eb; /* Light gray */
  --nav-color: #222365; /* Navy blue */
  --hover-color: #ff7300; /* Light gray */
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --smoke: #e2e2e2;
  --disable: #f2f2f2;
}

body {
  background-color: var(--background-color);
  position: relative;
  z-index: -1;
}

html {
  scroll-behavior: smooth;
}

i,
a,
button,
.content {
  cursor: pointer;
}
header {
  height: 80px;
  position: relative;
}
.space {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url(../image/الحرامين.png); */
  background-color: var(--head-color);
  background-position: center -30px;
  background-size: 200px;
  background-repeat: no-repeat;
  z-index: 3;
}

.top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 0;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.icons{
  margin-left: 10px;
  font-size: 40px !important;
  color: var(--color-icon);
  z-index: 4;
  margin: 0;
}
.icons:hover,.search-form .icons:hover + i{
  color: var(--hover-color);
}
form {
  margin: 0;
  position: relative;
}
.search {
  padding-left: 10px;
  left: -1px;
  top: 40px;
  width: 242px;
  height: 25px;
  position: absolute;
  font-size: 20px;
  display: none;
  border: 1px solid var(--color-icon);
  align-items: center;
  outline: none;
}
.img-detials {
  direction: rtl;
  text-align: start;
}
form .fa-caret-down {
  display: none;
  content: "";
  position: absolute;
  top: 22px;
  right: 9px;
  font-size: 25px;
}
.object {
  position: absolute;
  left: 43.8px;
  top: 88px;
  width: 240px;
  overflow: scroll;
  max-height: 170px;
  background-color: var(--nav-color);
}

.object::-webkit-scrollbar {
  display: none;
}
#ele-title,.ele-paragraph,.price{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size:25px ;
}
.nav {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  transition: 0.2s linear;
  background: radial-gradient(
    circle,
    #fcfcff 0%,
    rgba(255, 214, 214, 0.5) 100%
  );
  backdrop-filter: blur(12px);
  padding: 0;
}
.active {
  width: 50vw;
  position: fixed;
  z-index: 4;
}
header .menu {
  direction: rtl;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu .menu-links {
  text-wrap: nowrap;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  color: var(--nav-color);
  border-bottom: 1px solid var(--nav-color);
  transition: 0.2s;
}

.menu .menu-links:hover {
  transition: 0.5s;
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

/* section */
section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section .change-pagees {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  height: 50px;
}

section .change-pagees p {
  margin: 10px;
  font-size: 24px;
}

section .product {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color);
}

section .product .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

section .product .img .image-container {
  border-radius: 20px;
  padding: 10px;
  background: rgb(158,158,158);
  background: radial-gradient(circle, rgba(158,158,158,1) 0%, rgba(255,255,255,1) 0%, rgba(142,142,142,1) 78%);

  background-color: var(--head-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 450px;
  margin: 20px 10px 0px;
}

section .product .img .image-container img {
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}

section .product .img .share-every-where {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 30px;
  font-size: 24px;
}

section .product .img .share-every-where a i {
  color: var(--color-icon);
}

section .product .img .share-every-where a i:hover {
  color: var(--hover-color);
}
section .img-detials {
  font-size: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
section .img-detials .product-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  direction: rtl;
}
section .img-detials .ele-price-quantity {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
section .img-detials .ele-price-quantity .accept {
  border-radius: 10px;
  width: 90%;
  margin: 20px;
}
/* footer */
.contact-title {
  font-size: 40px;
  text-align: center;
  color: var(--color-text);
  margin: 10px;
  padding: 10px;
}
.media-title {
  font-size: 24px;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 10px;
}
.ele-paragraph {
  font-size: 30px;
}
.quantity .title-quantity {
  direction: ltr;
  text-align: end;
  margin: 10px 0px;
}
.information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  z-index: -1;
  position: relative;
}
.information .media-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: relative;
}
.information .media-title::before {
  content: "";
  position: absolute;
  width: 80%;
  bottom: 0px;
  right: 0px;
  height: 1px;
  background-color: var(--color-text);
}

.information .social-media {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  width: calc(100% / 3);
  align-items: flex-end;
}
.information .about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-left: 0px;
  position: relative;
  width: calc(100% / 3);
}
.information .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% / 3);
  padding-left: 0px;
  position: relative;
}
.information .social-media .media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.information .social-media .media-icons a {
  width: 30px;
  height: 30px;
  padding: 5px;
  position: relative;
}
.information .social-media .media-icons a i {
  transition: 0.3s linear;
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--paragraphColor);
}
.information .social-media .media-icons a::before {
  content: "";
  transition: 0.3s linear;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid var(--paragraphColor);
}
.information .social-media .media-icons a:hover i {
  color: var(--hover-color);
}

.information .social-media .media-icons a:hover::before {
  border: 2px solid var(--hover-color);
  background-color: var(--color-icon);
}

.information .about-us .contact-paragraph {
  margin: 0px;
  color: var(--paragraphColor);
  text-align: center;
  font-size: 15px;
}

.information .contact .email a {
  position: relative;
  font-size: 15px;
  color: var(--paragraphColor);
}

footer {
  background-color: var(--head-color);
  padding-bottom: 10px;
  position: relative;
  z-index: -1;
}

footer .footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: -1;
  position: relative;
  font-size: 18px;
  text-align: center;
  align-items: center;
  padding-left: 0px;
  margin-top: 0px;
}

footer .footer-content .cont-title .media-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: relative;
  color: var(--color-text);
}

footer .footer-content .cont-title .media-title::before {
  content: "";
  position: absolute;
  width: 140%;
  bottom: 0px;
  right: -8px;
  height: 1px;
  background-color: var(--color-text);
}

footer .footer-content .all-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

footer .footer-content .all-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: calc(100% / 6);
  height: 40px;
}

footer .footer-content .all-list .list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--paragraphColor);
  font-size: 16px;
  transition: 0.4s;
}
footer .footer-content .all-list li:hover .list-content {
  color: var(--hover-color);
  transition: 0.3s;
}

@media screen and (max-width: 480px) {
  .information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-around;
    margin: 20px;
  }
  .information .media-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: relative;
  }
  .information .media-title::before {
    content: "";
    position: absolute;
    width: 120%;
    bottom: 0px;
    left: -8px;
    height: 1px;
    background-color: var(--color-text);
  }
  .information .social-media {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 100%;
    align-items: center;
  }
  .information .social-media .media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .information .social-media .media-icons a::before {
    content: "";
    transition: 0.3s linear;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid var(--paragraphColor);
  }
  .information .social-media .media-icons a:hover i {
    color: var(--hover-color);
  }

  .information .social-media .media-icons a:hover::before {
    border: 2px solid var(--hover-color);
    background-color: var(--color-icon);
  }
  .information .about-us {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 0px;
    position: relative;
    width: 100%;
  }
  .information .about-us .contact-paragraph {
    color: var(--color-text);
    text-align: center;
    font-size: 15px;
    width: 100%;
  }
  .information .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    position: relative;
  }
  .information .contact .email a {
    position: relative;
    font-size: 15px;
    color: var(--color-text);
  }

  section .product {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }
  .img{

    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
 section .img-detials{
    width: 100%;
    margin: 20px 20px;
  }
  .product-paragraph{
    width: 100%;
  }
  .ele-paragraph{
    width: 90%;
    font-size: 20px;
    text-align:start;
  }
}
section .img-detials .ele-price-quantity .accept {
width: 50%;

margin: auto;
}
.qty {
  width: 50px;
}
#ele-title,.ele-paragraph,form,.price{
  margin-top: 20px;
}
#myform{
  display: flex;
    width: 100%;
    height: 50px;
    align-items: center;

}
.qtyminus ,.qty,.qtyplus {
  padding: 0;
  margin-left: 10px;
  width: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
}