* {
  font-family: "Aref Ruqaa", serif;
  list-style: none;
  color: rgb(0, 0, 0);
}
:root {
  --color: #30196a;
  --background-color: #d3d5f0;
  --head-color: #f1edf6;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-color);
}
i,
a,
button,
.content {
  cursor: pointer;
}
header {
  height: 80px;
  position: relative;
}
.space {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/Denllo.jpg);
  background-color: var(--head-color);
  background-position: center -30px;
  background-size: 200px;
  background-repeat: no-repeat;
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 0;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.logo a i {
  margin-left: 10px;
  font-size: 30px;
  color: var(--color);
}
.fa-bars,
.fa-x {
  font-size: 40px;
  z-index: 3;
  margin-right: 20px;
  color: var(--color);
}
.nav {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  transition: 0.2s linear;
  background: radial-gradient(
    circle,
    #fcfcff 0%,
    rgba(255, 214, 214, 0.5) 100%
  );
  backdrop-filter: blur(12px);
  padding: 0;
}
.active {
  width: 50vw;
  position: fixed;
  z-index: 3;
}
header .menu {
  direction: rtl;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 300px) {
  .space {
    background-image: none;
  }
  .active {
    width: 180px;
  }
}
.menu .menu-links {
  text-wrap: nowrap;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  color: var(--color);
  border-bottom: 1px solid var(--color);
}
section {
  margin: 40px 0;
}
.titleOfList,
.offer-title {
  margin-right: 8px;
  padding: 20px 0px 20px 0px;
  font-size: 30px;
  background-color: var(--color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.offer-title {
  width: 100%;
  text-align: end;
}
.change-page {
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.show-all {
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
  text-wrap: nowrap;
  border-radius: 40px;
  border: 1px solid var(--color);
  padding: 10px 20px;
  color: var(--color);
}
.cho {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: scroll;
}
.content {
  border-radius: 20px;
  padding: 20px;
  background-color: var(--head-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(250px + 20px);
  margin: 20px 20px 0;
}
.image-content {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.paragraph-content {
  text-align: center;
  color: rgb(88, 0, 0);
  font-size: 10px;
}
.accept {
  background-color: #ff008c;
  color: white;
  padding: 0px 20px 10px;
  border: none;
  font-size: 20px;
  border-radius: 20px;
}
.price {
  color: #ff6060;
  font-size: 15px;
}
.cho .content .title-content {
  color: var(--color);
  font-size: 20px;
  text-align: center;
}
.contact-title {
  font-size: 40px;
  text-align: center;
  color: var(--color);
}
.media-title {
  font-size: 24px;
  text-align: center;
  color: var(--color);
  margin-bottom: 10px;
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 15px;
}
footer .social-media {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
footer .social-media .media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .social-media .media-icons a i {
  font-size: 30px;
  margin: 10px;
  color: #5e4b8e;
}
footer .about-us {
  padding-left: 0px;
}
footer .about-us p {
  color: #5e4b8e;
  text-align: center;
  font-size: 15px;
}
footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding-left: 0px;
}
footer .contact a {
  font-size: 15px;
  color: #5e4b8e;
}
footer .footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  align-items: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

footer .all-list {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}
footer .footer-content .list-content {
  text-decoration: none;
  color: #5e4b8e;
  font-size: 15px;
}
