* {
  font-family: "Aref Ruqaa", serif;
  list-style: none;
  color: rgb(0, 0, 0);
}

:root {
  --productPriceColor: #7d5836; /* Dark brown for coffee */
  --productParagrapghColor: #4b2c1f; /* Rich brown for chocolate */
  --productTitleColor: #c7a252; /* Gold for nuts */
  --head-color: #8c463f; /* Earthy brown for citrus */
  --color-icon: #e4b26a; /* Creamy beige for warmth */
  --color-text: #5c7a59; /* Green for freshness */
  --paragraphColor: #574e4d; /* Dark gray for depth */
  --background-color: #f2d3a6; /* Light beige for warmth and brightness */
  --nav-color: #e4c6a2; /* Soft brown for softness */
  --heading-color: #5b3e2e; /* Dark brown for a natural feel */
}
:root {
  --productPriceColor: #a0565d; /* Rosy brown for coffee */
  --productParagrapghColor: #725a57; /* Sienna brown for chocolate */
  --productTitleColor: #f4c78b; /* Butterscotch for nuts */
  --head-color: #a87c6d; /* Copper brown for citrus */
  --color-icon: #ffe4c4; /* Bisque for warmth */
  --color-text: #4b946f; /* Teal green for freshness */
  --paragraphColor: #696969; /* Dim gray for depth */
  --background-color: #ffdab9; /* Peach puff for warmth and brightness */
  --nav-color: #f0e68c; /* Khaki for softness */
  --heading-color: #734b3a; /* Rusty brown for a natural feel */
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #eeeeee;
}
i,
a,
button,
.content {
  cursor: pointer;
}
header {
  height: 80px;
  position: relative;
}
.space {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/Denllo.jpg);
  background-color: var(--head-color);
  background-position: center -30px;
  background-size: 200px;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.top-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 0;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.logo i {
  margin-left: 10px;
  font-size: 30px;
  color: var(--color-icon);
}

.fa-bars,
.fa-x {
  font-size: 30px;
  z-index: 4;
  margin-right: 10px;
  color: var(--color-icon);
}
.fa-x {
  color: var(--color-icon);
  font-size: 25px;
}
form {
  margin: 0;
  position: relative;
}
.search {
  padding-left: 10px;
  padding-bottom: 11px;
  left: -1px;
  top: 40px;
  width: 242px;
  height: 25px;
  position: absolute;
  font-size: 20px;
  display: none;
  border: 1px solid var(--color-icon);
  align-items: center;
  outline: none;
}
form .fa-caret-down {
  display: none;
  content: "";
  position: absolute;
  top: 20px;
  right: 9px;
  font-size: 25px;
}
.object {
  position: absolute;
  left: 43.8px;
  top: 88px;
  width: 240px;
  overflow: scroll;
  max-height: 170px;
  background-color: var(--nav-color);
}
.object::-webkit-scrollbar {
  display: none;
}

.nav {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  transition: 0.2s linear;
  background: radial-gradient(
    circle,
    #fcfcff 0%,
    rgba(255, 214, 214, 0.5) 100%
  );
  backdrop-filter: blur(12px);
  padding: 0;
}
.active {
  width: 50vw;
  position: fixed;
  z-index: 4;
}
header .menu {
  direction: rtl;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 300px) {
  .space {
    background-image: none;
  }
  .active {
    width: 180px;
  }
}
.menu .menu-links {
  text-wrap: nowrap;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  color: var(--nav-color);
  border-bottom: 1px solid var(--nav-color);
  transition: 0.2s;
}
.menu .menu-links:hover {
  transition: 0.5s;
  color: white;
  border-bottom: 1px solid white;
}
section {
  margin: 10px 0;
}
.titleOfList,
.offer-title {
  margin-right: 20px;
  padding: 10px 0px 10px 0px;
  font-size: 30px;
  background-color: var(--heading-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.offer-title {
  width: 100%;
  text-align: end;
}
.change-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.show-all {
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
  text-wrap: nowrap;
  border-radius: 40px;
  border: 1px solid var(--heading-color);
  padding: 5px 20px;
  color: var(--heading-color);
}
.cho {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.content {
  border-radius: 20px;
  padding: 10px;
  background-color: var(--head-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px 10px 0;
}
.image-content {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.paragraph-content {
  text-align: center;
  color: var(--paragraphColor);
  font-size: 10px;
}
.accept {
  background-color: var(--background-color);
  color: var(--color-text);
  padding: 0px 20px 10px;
  border: none;
  font-size: 20px;
  border-radius: 20px;
}
.price {
  color: var(--productPriceColor);
  font-size: 15px;
}
.cho .content .title-content {
  color: var(--productTitleColor);
  font-size: 20px;
  text-align: center;
}
.contact-title {
  font-size: 40px;
  text-align: center;
  color: var(--heading-color);
}
.media-title {
  font-size: 24px;
  text-align: center;
  color: var(--heading-color);
  margin-bottom: 10px;
}
.information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.information .media-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: relative;
  z-index: -1;
}
.information .media-title::before {
  content: "";
  position: absolute;
  width: 80%;
  bottom: 0px;
  right: 0px;
  height: 1px;
  background-color: var(--color-text);
}

.information .social-media {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  width: calc(100% / 3);
  align-items: flex-end;
}
.information .about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-left: 0px;
  position: relative;
  width: calc(100% / 3);
}
.information .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% / 3);
  padding-left: 0px;
  position: relative;
}
.information .social-media .media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.information .social-media .media-icons a {
  width: 30px;
  height: 30px;
  padding: 5px;
  position: relative;
}
.information .social-media .media-icons a i {
  transition: 0.3s linear;
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-icon);
}
.information .social-media .media-icons a::before {
  content: "";
  transition: 0.3s linear;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid var(--color-icon);
}
.information .social-media .media-icons a:hover i {
  color: white;
}

.information .social-media .media-icons a:hover::before {
  border: 2px solid white;
  background-color: var(--color-icon);
}

.information .about-us p {
  color: var(--color-text);
  text-align: center;
  font-size: 15px;
  z-index: -1;
}

.information .contact .email a {
  position: relative;
  font-size: 15px;
  color: var(--color-text);
  z-index: -2;
}

footer {
  background-color: var(--head-color);
  z-index: -1;
  position: relative;
  padding-bottom: 20px;
}

footer .footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 18px;
  text-align: center;
  align-items: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

footer .footer-content .cont-title .media-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: relative;
  z-index: -1;
}

footer .footer-content .cont-title .media-title::before {
  content: "";
  position: absolute;
  width: 140%;
  bottom: 0px;
  right: -8px;
  height: 1px;
  background-color: var(--color-text);
}

footer .footer-content .all-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px;
}

footer .footer-content .all-list li {
  width: calc(100% / 6);
}

footer .footer-content .all-list .list-content {
  text-decoration: none;
  color: var(--nav-color);
  font-size: 16px;
}
footer .footer-content .all-list li:hover footer .footer-content .all-list li{
color: white;
}

@media screen and (max-width: 480px) {
  .information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-content: space-around;
    margin: 20px;
  }
  .information .media-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: relative;
  }
  .information .media-title::before {
    content: "";
    position: absolute;
    width: 120%;
    bottom: 0px;
    left: -8px;
    height: 1px;
    background-color: var(--color-text);
  }
  .information .social-media {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    width: 100%;
    align-items: center;
    z-index: -1;
  }
  .information .social-media .media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .information .social-media .media-icons a::before {
    content: "";
    transition: 0.3s linear;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid var(--color-icon);
  }
  .information .social-media .media-icons a:hover i {
    color: white;
  }

  .information .social-media .media-icons a:hover::before {
    border: 2px solid white;
    background-color: var(--color-icon);
  }
  .information .about-us {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 0px;
    position: relative;

    width: 100%;
    z-index: -1;
  }
  .information .about-us p {
    color: var(--color-text);
    text-align: center;
    font-size: 15px;
    width: 100%;
  }
  .information .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    position: relative;
    z-index: -1;
  }
  .information .contact .email a {
    position: relative;
    font-size: 15px;
    color: var(--color-text);
    z-index: -1;
  }
}
